<div class="jumbotron">
  <h2>Welcome to the page where you can sign in for creating your own game player!</h2>
  <p><%= link_to "Login", new_user_session_path,class: "btn btn-default"   %></p>
</div>